.p-movies-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1rem;
  margin: 0 auto;
  margin-top: 1rem;
  overflow-x: hidden;
  padding: 18px 30px;
  color: wheat;
  justify-items: center;
}
@media (max-width: 600px) {
  .p-movies-wrapper {
    padding: 18px;
  }
}
