.main {
  padding: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 80vh;

  h1 {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: clamp(2rem, 3vw, 5.1rem);
  }

  span {
    font-size: clamp(1rem, 3vw, 2.1rem);
    margin-bottom: 12px;
  }

  &__hi {
    font-size: clamp(3rem, 3vw, 5.1rem);
    margin: 0;
  }

  .video__wrapper {
    height: 240px;
    width: 300px;
    overflow: hidden;
    position: relative;
    margin-top: 32px;

    video {
      position: absolute;
      left: -100px;
      top: -135px;
    }
  }
}
